body{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/1083515/pexels-photo-1083515.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-repeat: no-repeat!important;*/
    /*padding-top: 105px!important;*/
    /*overflow-y:hidden;*/
    /*background-attachment: none;*/
    color:black!important;
    font-family: 'Raleway', sans-serif!important;
    /*background-position: 0px -190px;*/
}

.main{
    height:6000px;
    margin-top:10%;
    margin-bottom:10%;
}

.main-sub{
    color:white;
    border:5px solid #256e44;
    box-shadow:0px 40px 80px rgba(0,0,0,0.9);
    background:#d6d6d6!important;
}

.main-text{
    font-family: 'Raleway', sans-serif!important;
    font-size:50px;
    animation-delay: 1s;
    color:black!important;
}

.btn-outline-success{
    animation-delay: 2s;
    box-shadow:0px 20px 40px rgba(0,0,0,0.5);
}

.btn-outline-success:hover{
    box-shadow:0px 40px 60px rgba(0,0,0,0.3);
}

.main-sub-text{
    position:absolute;
    top:90%;
    left:0%;
    right:0%;
    text-align:center;
    font-family: 'Raleway', sans-serif!important;
    animation-delay: 2s;    
}

.green{
    color:#00b54b;
    /*text-decoration:underline;*/
}

.hoofdpagina-achtergrond{
    background:url('https://image.freepik.com/free-vector/forest-silhouettes_23-2147513019.jpg');
}

.par{
    color:black!important;
    font-family: 'Raleway', sans-serif!important;
    font-size:20px;
}

.shift{
    transform: rotate(8deg);
    border:2px solid #00B54B;
    box-shadow:0px 20px 40px rgba(0,0,0,0.5);
    border-radius:5px;
    width:80%;
}

.shift-1{
    transform: rotate(-6deg);
    border:2px solid #00B54B;
    box-shadow:0px 20px 40px rgba(0,0,0,0.5);
    border-radius:5px;
    width:80%;
}
